{% extends "layout.html" %}
{% block content %}
<div class="card border-secondary mb-3">
  <div class="card-header">
    Room management
  </div>
  <div class="card-body">
    <div class="container">
      <form class="form-group" method="post">{% csrf_token %}
          <label>Name</label><br>
          <input class="form-control" name="name" type="text" maxlength="128" value="{{ room.name }}" placeholder="Enter name"><br>
          <label>Capacity</label><br>
          <input class="form-control" name="capacity" type="number" min="0" value="{{ room.capacity }}" placeholder="Enter room capacity"><br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="is_projector" type="checkbox" value="True">
            <label class="form-check-label" for="exampleCheck1">Projector</label>
          </div>
          <hr>
          <button class="btn btn-secondary" type="submit" name="action" value="commit">Add</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
